/ATSAME54-XPRO/mplab/netxduo/build/
/ATSAME54-XPRO/mplab/netxduo/dist/
/ATSAME54-XPRO/mplab/netxduo/.generated_files/
/ATSAME54-XPRO/mplab/same54_lib/build/
/ATSAME54-XPRO/mplab/same54_lib/dist/
/ATSAME54-XPRO/mplab/same54_lib/.generated_files/
/ATSAME54-XPRO/mplab/threadx/build/
/ATSAME54-XPRO/mplab/threadx/dist/
/ATSAME54-XPRO/mplab/threadx/.generated_files/
/ATSAME54-XPRO/mplab/sample_azure_iot_embedded_sdk_pnp/build/
/ATSAME54-XPRO/mplab/sample_azure_iot_embedded_sdk_pnp/dist/
/ATSAME54-XPRO/mplab/sample_azure_iot_embedded_sdk_pnp/.generated_files/